@import "mixins"; ////variables////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$grey-font: transparentize(lightgrey,.6);
$menufont: silver;
$main-background: white;
$buttonblue: #4ec2ee;
$green: #26dd80;
$shadow: 1px 1px 0.5px $grey-font; ////////////Base Styles/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.fa-xs {
  font-size: 0.55em !important;
}

.shnk {
  height: 7px;
  width: 7px;
}

.grey {
  color: #BEBEBE;
}

.search {
  padding-right: 5px;
}

.dot {
  color: $green;
}

.nohover {
  background-color: transparent !important;
  outline-color: none !important;
}

%dot2 {
  height: 45px;
  width: 45px;
  border-radius: 60%;
  display: inline-block;
}
///////////////////Side Nav////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sidemenu {
  background-color: #354052;
  height: 68rem;
  min-width: 184px;
  position: fixed;
  z-index: 10;
  overflow-x: hidden;
  left: 0;
}

.main-menu {
  list-style-type: none;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 0;
}

.logo {
  margin: 2em;
}

.zero {
  padding-left: 0;
  padding-right: 0;
}

.button {
  background-color: transparent;
  padding-left: 30px;
  color: $grey-font;
  border: none;
  border-radius: 30px;
  height: 45px;
  width: 95%;
  cursor: pointer;
  outline: none;
  text-align: left;

  &:hover {
    @include button-colors;
    @extend .button;
    background-color: transparentize(grey,.8);
    color: white;
  }

  &:focus {
    @include button-colors;
    @extend .button;
    background-color: transparent;
    color: white;
  }
}

.no-border {
  border: none;
  border-color: transparent;
}
//Top Nav///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.top-input {
  margin-left: 30px;
  padding-left: 0;
  font-style: italic;

  &:active,
  &:focus {
    font-style: normal;
  }
}

.maindash {
  background-color: whitesmoke;
  height: 63rem;
  padding-right: 30px;
}

.mn-c {
  margin-left: 16.666%;
}

.submit-heading {
  padding-top: 1em;
}

.user-tools {
  float: right;
}

.bar {
  padding-top: 12px;
}

.profilepic {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  vertical-align: middle;
}

.profilebutton {
  padding-top: 0;
  font-size: 12px;
  font-weight: bold;

  &:active,
  &:focus,
  &:hover {
    @extend .nohover;
  }
}

.submit {
  margin-top: 1rem;
  padding: 2rem 0.8rem 1rem 3.4rem;
  font-size: 24px;
  font-weight: bold;
  display: block;
}

.toggle {
  float: right;

  button {
    font-size: 12px;
    font-weight: bold;
    color: grey;
    background-color: transparentize(grey,.9);
    padding: 10px 40px;

    &:active,
    &:focus {
      background-color: $buttonblue;
      color: white;
      outline: none;
    }
  }
}
//Dashboard Layout/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.loandot {
  @extend %dot2;
  background-color: transparentize($buttonblue,.8);
  position: absolute;
  right: -51%;
  top: -10%;
}

.principaldot {
  @extend %dot2;
  background-color: transparentize($green,.8);
  float: right;
  position: absolute;
  right: 34%;
  top: 30%;
}

.arrow {
  color: $buttonblue;
}

.dash-container {
  margin-top: 2em;
  margin-left: 4%;
  margin-right: 1%;
}

.dashcolor {
  background-color: $main-background;
}
/////////Dash Row 1/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.dash-1 {
  // height: 21em;
  flex-direction: row;
  box-shadow: $shadow;
  overflow: hidden;

  hr {
    border: 0.5px solid rgba(0,0,0,0.1);
    width: 93%;
  }
}

#d1break {
  width: 211%;
  height: 1px;
  border: none;
  background-color: $grey-font;
  position: absolute;
  top: 54%;
  left: -3%;
}

.vl {
  border-left: 1px solid $grey-font;
  height: 35%;
  position: absolute;
  right: -1.5%;
  top: 65%;
}

.loan {
  padding-bottom: 2em;
  padding-top: 2em;

  h5 {
    margin-top: 3em;
    margin-left: 2em;
    font-size: 0.75em;
    font-weight: bold;
  }

  h3 {
    margin-left: 0.9em;
    display: inline-block;
    font-size: 1.5em;
  }
}

#bkrndemphasis {
  background-color: lighten($buttonblue, .3);
  border: 1px solid $buttonblue;
  margin-left: 1.5em;
}

h5 {
  color: $menufont;
}

.emphasis {
  color: lighten($buttonblue, .3);
}

.dropdown {
  float: right;

  button {
    color: $buttonblue;
    border: none;
    font-size: 0.80em;
    font-weight: bold;

    &:active,
    &:focus,
    &:hover {
      background-color: transparent !important;
      color: $buttonblue !important;
    }
  }
}

.rw1 {
  margin-top: 5em;
  margin-left: 1.5em;
  padding-top: 3em;
  font-size: 0.75em;
  font-weight: bold;
  color: $menufont;

  span {
    float: right;
    font-size: 1.2em;
    color: black;
  }
}

h6 {
  margin-top: 1em;
  margin-left: 1.5em;
  font-size: 0.75em;
  font-weight: bold;
  color: $menufont;

  span {
    float: right;
    font-size: 1.2em;
    color: black;
  }
}
//Second Dash Row//////////////////////////////////////////////////////////////////////////////////////////////////////////////

.dash-2 {
  margin-top: 1em;

  div {
    box-sizing: border-box;
    height: 9em;
    box-shadow: $shadow;
  }
}

.rw2 {
  color: black;
  font-weight: bold;
  margin-left: 0.9em;
  padding-top: 0.75em;
}

.pad2 {
  padding-top: 2em;
}
//Third Dash Row///////////////////////////////////////////////////////////////////////////////////////////////////////////////

#crypto,
#fiat {
  padding-left:: 0;
  padding-right: 0;
}

.dash-3 {
  margin-top: 1em;

  div {
    box-sizing: border-box;
    height: 16em;
    border-bottom: 1px $grey-font;
    box-shadow: $shadow;
  }
}
//////Post Dash////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

%bottombuttons {
  margin-top: 3em;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  height: 45px;
  width: 12em;
  position: absolute;
}

.save {
  @extend %bottombuttons;
  right: 51%;
  color: $buttonblue;
}

.next {
  @extend %bottombuttons;
  left: 51%;
  color: white;
  background-color: $buttonblue;
}
/////Media Queries//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media(max-width: 544px) {
  #d1break,
  .loandot {
    display: none;
  }
}
@media(min-width: 544px) {
  .col-sm-4 {
    max-width: 32.333333%;
    margin-right: 1.45%;
  }

  .col-sm-6 {
    max-width: 49.2%;
  }
}
@media(max-width: 992px) {
  .sidemenu {
    display: none;
  }

  .mn-c {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1385px !important;
  }
}