.sidemenu {
  background-color: #354052;
  height: 56rem;
  max-width: 200px;
  min-width: 184px;
}

.main-menu {
  list-style-type: none;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 0;

  li {
    margin-top: 1em;
  }

  a {
    padding: 0.8em;
    margin-top: 1em;
    text-align: center;
  }
}

a {
  color: white;
  font-size: 0.8rem;
}

.logo {
  margin: 2em;
}

.zero {
  padding-left: 0;
  padding-right: 0;
}

.button {
  background-color: transparent;
  padding-left: 30px;
  color: transparentize(lightgrey,.6);
  border: none;
  border-radius: 30px;
  height: 45px;
  width: 170px;
  cursor: pointer;
  outline: none;
  text-align: left;
}

.button:focus {
  background-color: transparent;
  padding-left: 30px;
  color: white;
  border: none;
  border-radius: 30px;
  height: 45px;
  width: 170px;
  cursor: pointer;
  outline: none;
  text-align: left;

  .light-blue {
    color: #A8D8F5;
  }

  .orange {
    color: #FF8660;
  }

  .light-green {
    color: #A7F7CE;
  }

  .yellow {
    color: #FFB760;
  }

  .green {
    color: #00DE6D;
  }

  .blue {
    color: #61BEF5;
  }
}

.button:hover {
  background-color: transparentize(grey,.8);
  padding-left: 30px;
  color: white;
  border: none;
  border-radius: 30px;
  height: 45px;
  width: 170px;
  cursor: pointer;
  outline: none;
  text-align: left;

  .light-blue {
    color: #A8D8F5;
  }

  .orange {
    color: #FF8660;
  }

  .light-green {
    color: #A7F7CE;
  }

  .yellow {
    color: #FFB760;
  }

  .green {
    color: #00DE6D;
  }

  .blue {
    color: #61BEF5;
  }
}